[submodule "vendor/plugins/declarative_authorization"]
	path = vendor/plugins/declarative_authorization
	url = git://github.com/stffn/declarative_authorization.git
[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/technoweenie/restful-authentication.git
