<h1>Users</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Roles</th>
  </tr>
<% for user in @users %>
  <tr>
    <td><b><%= h user.login %></b></td>
    <td><%= h user.roles.map(&:to_s) * ',' if user.roles %></td>
    <td>
      <%= link_to 'Edit', edit_user_path(user) if permitted_to? :edit, user %>
      <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete if permitted_to? :delete, user %>
    </td>
  </tr>
<% end %>
</table>